<h3>Players</h3>

<table class='table-striped' border=1>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Rating</th>
      <!--<th></th>-->
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= @players.index(player) + 1 if player.getRating != 'PRO' %></td>
        <td><%= link_to player.name, player %> (<%= player.getWins %>-<%= player.getLosses %>-<%= player.getStaleMates %>)</td>
        <td><%= player.getRating %></td>
        <!--<td><%= link_to '[X]', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to new_player_path, :method => 'get', :class => 'btn btn-default' do %>
  <span class='glyphicon glyphicon-plus'></span> Add Player
<% end %>
